.form {
    width: 400px;
    margin: 0 auto;
    position: relative;
    
  }
  .input {
    width: 360px;
    padding: 16px;
    background-color: #b9eaeb;
    padding-right: 40px;
    font-weight: 300;
    letter-spacing: 0.03em;
    border-radius: 8px;
  }
  
  .button {
    width: 40px;
    height: 40px;
  
    font-size: 20px;
    font-weight: bold;
   background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
  .header{
    width: 100vw; 
    background-color: rgb(106, 210, 221);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .div{
    width: 100%;
  }
  