.list {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
    padding-bottom: 30px; 
   }
   
   .container{
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
     padding-bottom: 30px;
   }
   .item {
   border-radius: 8px;
   object-position: center;
   flex: 0 1 calc(25% - 35px); 
   margin-bottom: 15px
   }
   
   .item img{
     width: 340px;
     height: 200px;
   }
 
   